.app {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding-top: 3rem;

  .navigation {
    .navigationLink {
      padding: 2rem;
      color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}